# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Arm Limited and Contributors
# Copyright (c) Intel Corporation
---
driverName: csi.simplyblock.io

image:
  spdkcsi:
    repository: simplyblock/spdkcsi
    tag: latest
    pullPolicy: Always
  csiProvisioner:
    repository: registry.k8s.io/sig-storage/csi-provisioner
    tag: v4.0.1
    pullPolicy: Always
  csiAttacher:
    repository: gcr.io/k8s-staging-sig-storage/csi-attacher
    tag: v4.5.1
    pullPolicy: Always
  nodeDriverRegistrar:
    repository: registry.k8s.io/sig-storage/csi-node-driver-registrar
    tag: v2.10.1
    pullPolicy: Always
  csiSnapshotter:
    repository: registry.k8s.io/sig-storage/csi-snapshotter
    tag: v7.0.2
    pullPolicy: Always
  csiResizer:
    repository: gcr.io/k8s-staging-sig-storage/csi-resizer
    tag: v1.10.1
    pullPolicy: Always
  csiHealthMonitor:
    repository: gcr.io/k8s-staging-sig-storage/csi-external-health-monitor-controller
    tag: v0.11.0
    pullPolicy: Always
  simplyblock:
    repository: simplyblock/simplyblock
    tag: release_v1
    pullPolicy: Always
serviceAccount:
  # Specifies whether a serviceAccount should be created
  create: true

rbac:
  # Specifies whether RBAC resources should be created
  create: true

controller:
  replicas: 1

storageclass:
  create: true

tolerations:
  create: false
  effect: NoSchedule
  key: dedicated
  operator: Equal
  value: simplyblock-cache

externallyManagedConfigmap:
  # Specifies whether a externallyManagedConfigmap should be created
  create: true

externallyManagedSecret:
  # Specifies whether a externallyManagedSecret should be created
  create: true

# Configuration for the CSI to connect to the cluster
csiConfig:
  simplybk:
    uuid: 963c9d0a-4506-43c3-a722-0b7c8b157038
    ip: https://o5ls1ykzbb.execute-api.eu-central-1.amazonaws.com

# Configuration for the csiSecret
csiSecret:
  simplybk:
    secret: 2BAbQTPEDi4o73VHymg2
  simplybkPvc:
    crypto_key1: N2IzNjk1MjY4ZTJhNjYxMWEyNWFjNGIxZWUxNWYyN2Y5YmY2ZWE5NzgzZGFkYTY2YTRhNzMwZWJmMDQ5MmJmZA==
    crypto_key2: Nzg1MDU2MzZjODEzM2Q5YmU0MmUzNDdmODI3ODViODFhODc5Y2Q4MTMzMDQ2ZjhmYzBiMzZmMTdiMDc4YWQwYw==

logicalVolume:
  pool_name: testing1
  qos_rw_iops: "0"
  qos_rw_mbytes: "0"
  qos_r_mbytes: "0"
  qos_w_mbytes: "0"
  compression: "False"
  encryption: "False"
  distr_ndcs: "1"
  distr_npcs: "1"

benchmarks: 0

# FIXME: this will not work if there are group of nodes with different AMI types like: AL2, AL2023
# AL2_x86_64: eth0
# AL2023_x86_64_STANDARD: ens5
cachingnode:
  ifname: eth0
  cpuMask: 0x2
  memory: 2g
